.headerCon {
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    min-height: 80px;
    background-color: $background;
    border-radius: 20px;
    box-shadow: $shadow;
    transition: none;
    overflow: hidden;
    .wrapper {
        @include wrapper;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid lighten($accent1, 40%);
        .logoImg {
            height: 35px;
            width: 141.72px;
            transition: transform $animationSpeed;
            &:focus {
                transform: scale(1.1);
            }
            &:hover {
                transform: scale(1.05);
            }
        }
        .navCon {
            height: 60px;
            display: flex;
            align-items: center;
            .navLink {
                @include title;
                margin-right: 40px;
                text-decoration: none;
                padding: 10px;
                background-color: transparent;
                border: none;
                position: relative;
                cursor: pointer;
                &:last-child {
                    margin-right: 0;
                }
                &:focus, &:hover {
                    &::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: -4px;
                        width: 100%;
                        height: 4px;
                        background-color: $accent1;
                        animation: $animationSpeed 1 slideInFromLeft;
                        border-radius: 10px;
                        @keyframes slideInFromLeft {
                            0% {
                              width: 0px;
                              opacity: 0;
                            }
                            100% {
                              width: 100%;
                              opacity: 1;
                            }
                          }
                    }
                }
                img {
                    height: 10px;
                    width: 10px;
                    margin-left: 5px;
                }
                @media only screen and (max-width: 900px) {
                    display: none;
                }
                &.toggleBtn {
                    .mobileInner {
                        display: none;
                        img {
                            height: 25px;
                            width: 28.56px;
                        }
                    }
                    @media only screen and (max-width: 900px) {
                        display: flex;
                        margin-right: 0;
                        .mobileInner {
                            display: flex;
                        }
                        .desktopInner {
                            display: none;
                        }
                        &:focus, &:hover {
                            transform: scale(1.1);
                            &::after {
                                display: none;
                            }
                        }
                    }
                }
            }
            .navSignUpLink {
                @include defaultBtnStyle;
                background-color: $accent1;
                &:focus, &:hover {
                    background-color: $accent1Dark;
                }
                @media only screen and (max-width: 900px) {
                    display: none;
                }
            }
        }
    }
    // Dropdown
    .toolDropdownRow {
        background-color: $background;
        transition: max-height $animationSpeed ease-out;
        // display: block;
        height: auto;
        max-height: 200px;
        &.closed {
            // display: none;
            max-height: 0;
        }
        .wrapper {
            @include wrapper;
            height: auto;
            padding-bottom: 20px;
            display: flex;
            flex-wrap: wrap;
            max-height: calc(100vh - 220px);
            overflow-y: scroll;
            &::-webkit-scrollbar {
                display: none;
            }
            // Mobile btns
            .mobileLinks {
                display: none;
                width: 100%;
                margin-top: 20px;
                @media only screen and (max-width: 900px) {
                    display: block;
                }
                li {
                    width: 100%;
                    margin-bottom: 10px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    a {
                        @include title;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
                        text-decoration: none;
                        padding: $padding;
                        border-radius: 20px;
                        border: 1px solid lighten($accent1, 40%);
                        
                        &:hover {
                            background-color: lighten($accent1, 40%);
                            border: 1px solid lighten($accent1, 35%);
                        }
                        &:focus {
                            background-color: lighten($accent1, 40%);
                            border: 1px solid lighten($accent1, 35%);
                        }
                        img {
                            height: 15px;
                            width: 15px;
                            transform: rotate(270deg)
                        }
                    }
                }
            }
            .mobileBtnSignUp {
                @include defaultBtnStyle;
                width: 100%;
                background-color: $accent1;
                display: none;
                @media only screen and (max-width: 900px) {
                    display: block;
                }
                &:focus, &:hover {
                    background-color: $accent1Dark;
                }
            }
            // Menu
            .dropdownMenu {
                width: 100%;
                display: grid;
                gap: 10px;
                padding-top: 20px;
                grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
                margin-bottom: 20px;
                .menuItem {
                    a {
                        display: flex;
                        text-decoration: none;
                        padding: $padding;
                        border-radius: 20px;
                        border: 1px solid lighten($accent1, 40%);
                        &:hover {
                            background-color: lighten($accent1, 40%);
                            border: 1px solid lighten($accent1, 35%);
                        }
                        &:focus {
                            background-color: lighten($accent1, 40%);
                            border: 1px solid lighten($accent1, 35%);
                        }
                        .icon {
                            width: 40px;
                            height: 40px;
                            min-width: 40px;
                            border-radius: 50%;
                            background-color: lighten($accent1, 35%);
                        }
                        ul {
                            padding-left: 20px;
                            .title {
                                @include title;
                                margin-bottom: 10px;
                            }
                            .desc {
                                @include body;
                            }
                        }
                    }
                }
            }
            // cta
            .ctaRow {
                @include gradientAnimation;
                width: 100%;
                padding: $padding;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                border-radius: 20px;
                .textArea {
                    .title {
                        @include title;
                        color: $titleLight;
                        font-size: 1.25em;
                        margin-bottom: 10px;
                    }
                    .body {
                        color: $bodyLight;
                        font-size: 1em;
                        max-width: 400px;
                    }
                }
                .btnCol {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    gap: 10px;
                    a { 
                        @include defaultBtnStyle;
                        display: block;
                        border: 2px solid #fff;
                        &:first-child {
                            margin-right: 10px;
                        }
                        &:hover {
                            background-color: #fff;
                            color: $titleText;
                        }
                        &:focus {
                            background-color: #fff;
                            color: $titleText;
                        }
                    }
                }
                @media only screen and (max-width: 900px) {
                    display: none;
                }
            }
        }

    }
}