.ctaCon {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    .ctaCol {
        footer {
            a {
                @include defaultBtnStyle;
                display: inline-block;
                border: 0.2rem solid #fff;
                &:first-child {
                    margin-right: 2rem;
                }
                &:hover {
                    background-color: #fff;
                    color: $titleText;
                }
            }
        }
    }
    .ctaImCol {
        display: flex;
        justify-content: center;
        img {
            width: 308px;
            height: 180px;
        }
    }
}