<section class="sectionCon">

    <!-- header -->
    <header class="sectionHeader">
        <h2>Checkout Our Latest Stories</h2>
        <p>Have a read of our recent stories and news, and if you would like - sign up to our newsletter to stay informed with playlist tools.</p>
        <div class="newsletterInpCon">
            <input class="inpStyle" type="text" placeholder="Enter your email address">
        </div>
    </header>

    <!-- blog posts -->
    <div class="sectionBody">
        
        <!-- Blog 1 -->
        <section class="blogCol">
            <!-- Bg image -->
            <picture>
                <source srcset="./images/ctas/ctaAppImg.avif" type="image/avif">
                <source srcset="./images/ctas/ctaAppImg.webp" type="image/webp">
                <img src="./images/ctas/ctaAppImg.png" alt="PlaylistTools.io application">
            </picture>
            <!-- Textarea -->
            <div class="blogPreview">
                <div class="categoryRow">
                    <div class="category">news</div>
                </div>
                <h3>Future Features For PlaylistTools.io</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis aliquam neque. Pellentesque tellus.</p>
            </div>
        </section>

        <!-- Blog 2 -->
        <section class="blogCol">
            <!-- Bg image -->
            <picture>
                <source srcset="./images/ctas/ctaAppImg.avif" type="image/avif">
                <source srcset="./images/ctas/ctaAppImg.webp" type="image/webp">
                <img src="./images/ctas/ctaAppImg.png" alt="PlaylistTools.io application">
            </picture>
            <!-- Textarea -->
            <div class="blogPreview">
                <div class="categoryRow">
                    <div class="category">news</div>
                </div>
                <h3>Future Features For PlaylistTools.io</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis aliquam neque. Pellentesque tellus.</p>
            </div>
        </section>

    </div>

</section>