<section id="pt_storiesSect" class="sectionCon">

    <!-- header -->
    <header class="sectionHeader">
        <h2>Checkout Our Latest Stories</h2>
        <p>Have a read of our recent stories and news, and if you would like - sign up to our newsletter to stay informed with playlist tools.</p>
        <div class="newsletterInpCon">
            <input class="inpStyle" type="text" placeholder="Enter your email address">
            <button aria-label="submit email"></button>
        </div>
    </header>

    <!-- blog posts -->
    <div class="storySectBody">
        
        <!-- Blog 1 -->
        <section class="blogCol" data-href="https://mozilla.org" blog-link tabindex="0" role="link">
            <!-- Bg image -->
            <picture>
                <source srcset="./images/blog/blog1/main.avif" type="image/avif">
                <source srcset="./images/blog/blog1/main.webp" type="image/webp">
                <img class="blogBgImg" loading="lazy" src="./images/blog/blog1/main.jpeg" alt="Musician singing on stage">
            </picture>
            <!-- Textarea -->
            <div class="blogPreview">
                <div class="categoryRow">
                    <div class="category">news</div>
                </div>
                <h3>Future Features For PlaylistTools.io</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis aliquam neque. Pellentesque tellus.</p>
            </div>
        </section>

        <!-- Blog 2 -->
        <section class="blogCol" data-href="https://mozilla.org" blog-link tabindex="0" role="link">
            <!-- Bg image -->
            <picture>
                <source srcset="./images/blog/blog2/main.avif" type="image/avif">
                <source srcset="./images/blog/blog2/main.webp" type="image/webp">
                <img class="blogBgImg" loading="lazy" src="./images/blog/blog2/main.jpeg" alt="Music editing software">
            </picture>
            <!-- Textarea -->
            <div class="blogPreview">
                <div class="categoryRow">
                    <div class="category">news</div>
                </div>
                <h3>Future Features For PlaylistTools.io</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis aliquam neque. Pellentesque tellus.</p>
            </div>
        </section>

    </div>

</section>