<section class="sectionCon">

    <!-- header -->
    <header class="sectionHeader">
        <h2>Our Tools Suite</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis aliquam neque. aliquam neque.</p>
    </header>

    <!-- suite -->
    <div class="sectionBody">
        <!-- Tool list col -->
        <div class="toolsListCol">
            <!-- select section slider -->
            <div class="slideCol">
                <span class="dot"></span>
            </div>
            <div class="toolsListInnerCol">
                <!-- tool 1 -->
                <section class="toolInfoRow">
                    <div class="iconCon">1</div>
                    <div class="textarea">
                        <h3>Playlist Editor</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis aliquam neque. Pellentesque tellus justo, laoreet vestibulum neque quis, dignissim interdum nunc.</p>
                    </div>
                </section>
                <!-- tool 2 -->
                <section class="toolInfoRow">
                    <div class="iconCon">2</div>
                    <div class="textarea">
                        <h3>Playlist Monitoring</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis aliquam neque. Pellentesque tellus justo, laoreet vestibulum neque quis, dignissim interdum nunc.</p>
                    </div>
                </section>
                <!-- tool 3 -->
                <section class="toolInfoRow">
                    <div class="iconCon">3</div>
                    <div class="textarea">
                        <h3>Track Release Scheduler</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis aliquam neque. Pellentesque tellus justo, laoreet vestibulum neque quis, dignissim interdum nunc.</p>
                    </div>
                </section>
                <!-- tool 4 -->
                <section class="toolInfoRow">
                    <div class="iconCon">4</div>
                    <div class="textarea">
                        <h3>Playlist Release Scheduler</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis aliquam neque. Pellentesque tellus justo, laoreet vestibulum neque quis, dignissim interdum nunc.</p>
                    </div>
                </section>
            </div>
        </div>
        <!-- img col -->
        <div class="toolImgCol">
            <picture>
                <source srcset="./images/ctas/ctaAppImg.avif" type="image/avif">
                <source srcset="./images/ctas/ctaAppImg.webp" type="image/webp">
                <img src="./images/ctas/ctaAppImg.png" alt="PlaylistTools.io application">
            </picture>
        </div>
    </div>

</section>