<section id="pt_suiteSect" class="sectionCon">

    <!-- header -->
    <header class="sectionHeader">
        <h2>Our Tools Suite</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis aliquam neque. aliquam neque.</p>
    </header>

    <!-- suite -->
    <div class="suiteSectBody">
        <!-- Tool list col -->
        <div id="pt_toolsListCol" class="toolsListCol">
            <!-- tool 1 -->
            <section class="toolInfoRow active" tabindex="0" role="button" aria-pressed="true">
                <div class="iconCon">1</div>
                <div class="textarea">
                    <h3>Playlist Editor</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis aliquam neque. Pellentesque tellus justo, laoreet vestibulum neque quis, dignissim interdum nunc.</p>
                </div>
            </section>
            <!-- tool 2 -->
            <section class="toolInfoRow" tabindex="0" role="button" aria-pressed="false">
                <div class="iconCon">2</div>
                <div class="textarea">
                    <h3>Playlist Monitoring</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis aliquam neque. Pellentesque tellus justo, laoreet vestibulum neque quis, dignissim interdum nunc.</p>
                </div>
            </section>
            <!-- tool 3 -->
            <section class="toolInfoRow" tabindex="0" role="button" aria-pressed="false">
                <div class="iconCon">3</div>
                <div class="textarea">
                    <h3>Track Release Scheduler</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis aliquam neque. Pellentesque tellus justo, laoreet vestibulum neque quis, dignissim interdum nunc.</p>
                </div>
            </section>
            <!-- tool 4 -->
            <section class="toolInfoRow" tabindex="0" role="button" aria-pressed="false">
                <div class="iconCon">4</div>
                <div class="textarea">
                    <h3>Playlist Release Scheduler</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis aliquam neque. Pellentesque tellus justo, laoreet vestibulum neque quis, dignissim interdum nunc.</p>
                </div>
            </section>
        </div>
        <!-- img col -->
        <div id="pt_slideCon" class="featureImgSlider">
            <div id="pt_sliderCon" class="sliderCon">
                <div class="imgSlide active">
                    <img src="./images/featurePhoneSlider1.svg" alt="">
                </div>
                <div class="imgSlide">
                    <img src="./images/featurePhoneSlider2.svg" alt="">
                </div>
                <div class="imgSlide">
                    <img src="./images/featurePhoneSlider3.svg" alt="">
                </div>
                <div class="imgSlide">
                    <img src="./images/featurePhoneSlider4.svg" alt="">
                </div>
            </div>
            <div id="pt_sliderPagination" class="paginationCon">
                <div class="dot active" role="button" aria-pressed="true" index="0"></div>
                <div class="dot" role="button" aria-pressed="false" index="1"></div>
                <div class="dot" role="button" aria-pressed="false" index="2"></div>
                <div class="dot" role="button" aria-pressed="false" index="3"></div>
            </div>
        </div>
    </div>

</section>