<section class="sectionCon">

    <!-- header -->
    <header class="sectionHeader">
        <h2>Our Pricing</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis aliquam neque. aliquam neque.</p>
    </header>

    <!-- pricing tables -->
    <div class="pricingSectBody">
        
        <div class="privingTableCon">
            <!-- Table 1 -->
            <section class="pricingTableCol">
                <div class="pricingInner">
                    <p class="packageNameP">Free</p>
                    <h3>£0 <span>/month</span></h3>
                    <p class="packageDesc">For those that have a couple of playlists they want to manage.</p>
                    <ul class="packageFeatures">
                        <li>10 Actions <span>/month</span></li>
                        <li>Monitor 2 Playlists</li>
                        <li>Schedule 5 Track Releases</li>
                        <li>Schedule 2 Playlist Releases</li>
                    </ul>
                    <a href="https://app.playlisttools.io/settings">choose plan</a>
                </div>
            </section>

            <!-- Table 2 -->
            <section class="pricingTableCol active">
                <div class="pricingInner">
                    <p class="packageNameP">Premium</p>
                    <h3>£5.99 <span>/month</span></h3>
                    <p class="packageDesc">For those small business, or independent curators.</p>
                    <ul class="packageFeatures">
                        <li>Unlimited Actions</li>
                        <li>Monitor 20 Playlists</li>
                        <li>Schedule 40 Track Releases</li>
                        <li>Schedule 20 Playlist Releases</li>
                    </ul>
                    <a href="https://app.playlisttools.io/settings">choose plan</a>
                </div>
            </section>

            <!-- Table 3 -->
            <section class="pricingTableCol">
                <div class="pricingInner">
                    <p class="packageNameP">Business</p>
                    <h3>£99.99 <span>/month</span></h3>
                    <p class="packageDesc">For those large businesses with hundreds of playlists.</p>
                    <ul class="packageFeatures">
                        <li>Unlimited Actions</li>
                        <li>Monitor Unlimited Playlists</li>
                        <li>Schedule Unlimited Track Releases</li>
                        <li>Schedule Unlimited Playlist Releases</li>
                    </ul>
                    <a href="https://app.playlisttools.io/settings">choose plan</a>
                </div>
            </section>
        </div>

    </div>

</section>