<section class="sectionCon">
    <!-- header -->
    <header class="sectionHeader">
        <h2>Why Us Playlist Tools?</h2>
        <p>Not only do we have a wide tool set, to help you manage, monitor and create playlists, but we are also incredibly flexible.</p>
    </header>
    <!-- points contianer -->
    <div class="pointsCon">
        <!-- col -->
        <section class="col">
            <div class="iconCon"><img src="./images/icons/music-solid.svg" alt="Music note icon" loading="lazy" width="60px" height="60px"></div>
            <h3>Link all your Spotify accounts!</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis aliquam neque. Pellentesque tellus.</p>
        </section>
        <!-- col -->
        <section class="col">
            <div class="iconCon"><img src="./images/icons/music-solid.svg" alt="Music note icon" loading="lazy" width="60px" height="60px"></div>
            <h3>No cost for casual users!</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis aliquam neque. Pellentesque tellus.</p>
        </section>
        <!-- col -->
        <section class="col">
            <div class="iconCon"><img src="./images/icons/music-solid.svg" alt="Music note icon" loading="lazy" width="60px" height="60px"></div>
            <h3>Works on every platform!</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis aliquam neque. Pellentesque tellus.</p>
        </section>
    </div>
</section>