<section class="sectionCon">

    <section class="ctaCon">
        <section class="ctaCol">
            <header>
                <h3>Get PlaylistTools.io On Your Other Devices</h3>
            </header>
            <p>Download our Windows and Mac app now for PC, or find us on the Google play store on android. So you can manage your playlists where ever you are.</p>
            <footer>
                <a href="#">Mac/Windows</a>
                <a href="#">Android</a>
            </footer>
        </section>
        <div class="ctaImCol">
            <!-- img -->
            <picture>
                <source srcset="./images/ctas/ctaAppImg.avif" type="image/avif">
                <source srcset="./images/ctas/ctaAppImg.webp" type="image/webp">
                <img src="./images/ctas/ctaAppImg.png" alt="PlaylistTools.io application">
            </picture>
        </div>
    </section>

</section>