<section class="sectionCon downloadCta">

    <section class="ctaCon">
        <section class="ctaCol">
            <header>
                <h3>Get PlaylistTools.io On Your Other Devices</h3>
            </header>
            <p>Download our Windows and Mac app now for PC, or find us on the Google play store on android. So you can manage your playlists where ever you are.</p>
            <footer>
                <a href="#">Mac/Windows</a>
                <a href="#">Android</a>
            </footer>
        </section>
        <div class="ctaImCol">
            <div class="imgCon">
                <!-- img -->
                <img loading="lazy" src="./images/ctas/downloadCtaPhone1.svg" alt="PlaylistTools.io application">
                <img loading="lazy" src="./images/ctas/downloadCtaPhone1.svg" alt="PlaylistTools.io application">
            </div>
        </div>
    </section>

</section>