$background: #fff;
$accent1: #762CF8;
$accent1Dark: #6826DB;
$accent2: #F78764;

$gradient: linear-gradient(270deg, #813ff5, #f49071);

$titleText: #2D1F48;
$bodyText: #575360;

$titleLight: #fff;
$bodyLight: rgb(238, 238, 238);

$maxWidth: 1500px;
$padding: 20px;
$shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
$animationSpeed: 0.1s;

$sectionSpacing: 150px;
$mobTabSpacing: 100px;
// Media Queries
$media-queries: (
    "mobile": "only screen and (max-width: 667px)",
    "tablet": "only screen and (min-width: 668px) and (max-width: 1023.9px)",
    "largeTablet": "only screen and (max-width: 1300px)",
    "desktop": "only screen and (min-width: 1024px)",
);


/* Media Queries */ 
@mixin forBreakpoint($breakpoints) {
    $conditions : ();
    @each $breakpoint in $breakpoints {
        // If the key exists in the map
        $conditions: append(
            $conditions,
            #{inspect(map-get($media-queries, $breakpoint))},
            comma
        );
    }

    @media #{$conditions} {
        @content;
    }
}

@mixin wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: $maxWidth;
    padding: 0 $padding;
}

@mixin gradientAnimation {
    background: $gradient;
    background-size: 400% 400%;
    animation: GradientAnimation 30s ease infinite;

    @keyframes GradientAnimation {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
}

@mixin title {
    color: $titleText;
    font-size: 1em;
    font-weight: bold;
}
@mixin body {
    color: $bodyText;
    font-size: 1em;
}
@mixin h2 {
    color: $titleText;
    font-size: 2.5em;
}
@mixin h3 {
    
}
@mixin h4 {
    
}

// buttons
@mixin defaultBtnStyle {
    cursor: pointer;
    padding: 10px 40px;
    border-radius: 40px;
    border: none;
    transition: $animationSpeed;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}