@import 
'_settings', 
'components/_homeBanner', 
'components/sections/whyUseSection', 
'components/sections/ourSuiteSection', 
'components/sections/ourStoriesSection', 
'components/sections/pricingTableSection',
'components/ctas/downloadCta',
'components/footer' ;

// section default styling
.sectionCon {
    @include wrapper;
    padding-top: $sectionSpacing;
    @include forBreakpoint(mobile tablet){
        padding-top: $mobTabSpacing;
    }
    .sectionHeader {
        width: 100%;
        max-width: 60rem;
        margin: 0 auto 7.5rem;
        text-align: center;
        h2 {
            @include h2;
            font-size : clamp(3rem, 3vw, 4rem);
            margin-bottom: 1rem;
        }
        p {
            @include body;
            font-size: 1.8rem;
        }
    }
}

// cta default stykubg
.ctaCon {
    @include gradientAnimation;
    width: 100%;
    border-radius: 2rem;
    padding: 2rem;
    .ctaCol {
        padding: 2rem 2rem 2rem 0;
        header {
            margin-bottom: 1rem;
            h3 {
                @include h3;
                color: $titleLight;
            }
        }
        p {
            font-size: 1.6rem;
            color: $bodyLight;
            max-width: 40rem;
        }
        footer {
            margin-top: 2rem;
        }
    }
}