@import 
'main.scss',
'_settings', 
'components/_homeBanner', 
'components/sections/whyUseSection', 
'components/sections/ourSuiteSection', 
'components/sections/ourStoriesSection', 
'components/sections/pricingTableSection',
'components/ctas/downloadCta',
'components/footer' ;

.bellowFold {
    content-visibility: auto;
    contain-intrinsic-size: 0 1000px; 
}
// section default styling
.sectionCon {
    @include wrapper;
    padding-top: $sectionSpacing;
    @include forBreakpoint(mobile tablet){
        padding-top: $mobTabSpacing;
    }
    .sectionHeader {
        width: 100%;
        margin: 0 auto 7.5rem;
        text-align: center;
        @include forBreakpoint(mobile tablet){
            margin-bottom: 4rem
        }
        h2 {
            @include h2;
            font-size : clamp(3rem, 3vw, 4rem);
            max-width: 60rem;
            margin: 0 auto 1rem;
        }
        p {
            @include body;
            font-size: 1.8rem;
            max-width: 60rem;
            margin: 0 auto;
        }
    }
}
