<footer class="footerCon">

    <div class="wrapper">
        <div class="col">
            <a href="/" aria-label="Go to the home page" class="logoImg"><img class="logoImg" src="./images/logo(light).png" loading="lazy" decoding="async" alt="PlaylistTools.io"></a>
            <p>PlaylistTools.io ©2021. All Rights Reserved.</p>
            <ul>
                <li><a href="#">ins</a></li>
                <li><a href="#">fb</a></li>
                <li><a href="#">twi</a></li>
            </ul>
        </div>
    
        <nav class="footerNav" role="navigation">
            <ul>
                <li class="title">Pages</li>
                <li><a href="#">Home</a></li>
                <li><a href="#">Playlists</a></li>
                <li><a href="#">Tracks</a></li>
                <li><a href="#">Search</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
            <ul>
                <li class="title">Usefull Links</li>
                <li><a href="#">Help</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
            <ul>
                <li class="title">Socials</li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
            </ul>
        </nav>
    </div>


</footer>