<header class="headerCon">
    <div class="wrapper">
        <a href="/" aria-label="Go to the home page" class="logoImg"><img class="logoImg" src="./images/logo(light).png" alt="PlaylistTools.io"></a>
        <nav class="navCon">
            <a class="navLink" href="/" aria-label="Go to the home page">home</a>
            <a class="navLink" href="/blog" aria-label="Go to the blog page">blog</a>
            <button id="pt_toolDropDownBtn" class="navLink toggleBtn" aria-expanded="false" aria-label="Open tools navigation dropdown">
                <span class="desktopInner">
                    tools 
                    <img src="./images/icons/chevron-circle-down-solid.svg" alt="Dropdown icon">
                </span>
                <span class="mobileInner">
                    <img src="./images/icons/bars-solid.svg" alt="Toggle navigation button">
                </span>
            </button>
            <a class="navSignUpLink" href="#" aria-label="Sign up to PlaylistTools.io!">sign up</a>

        </nav>
    </div>
    <!-- Dropdown -->
    <nav id="pt_toolDropdownRow" class="toolDropdownRow closed" role="navigation">
        <div id="pt_toolDropdownRowWrapper" class="wrapper">
            <!-- Mobile Links -->
            <ul class="mobileLinks">
                <li><a href="/" class="setTabIndex" href="#" tabindex="-1" aria-label="Go to the home page">home <img src="./images/icons/chevron-circle-down-solid.svg" alt="Dropdown icon"></a></li>
                <li><a href="/blog" class="setTabIndex" href="#" tabindex="-1" aria-label="Go to the blog page">blog <img src="./images/icons/chevron-circle-down-solid.svg" alt="Dropdown icon"></a></li>
            </ul>
            <!-- Links -->
            <ul class="dropdownMenu">
                <li class="menuItem">
                    <a class="setTabIndex" href="#" aria-label="Reorganise your playlists automatically!"  tabindex="-1">
                        <div class="icon"></div>
                        <ul>
                            <li class="title">shuffle playlist</li>
                            <li class="desc">Re-order your playlist how you like with a selection of presets.</li>
                        </ul>
                    </a>
                </li>
                <li class="menuItem">
                    <a class="setTabIndex" href="#" aria-label="Remove duplicates and unplayable tracks from your playlists."  tabindex="-1">
                        <div class="icon"></div>
                        <ul>
                            <li class="title">remove duplicates</li>
                            <li class="desc">Automatically remove duplicate and unplayable tracks from your playlist.</li>
                        </ul>
                    </a>
                </li>
                <li class="menuItem">
                    <a class="setTabIndex" href="#" aria-label="Generate brand new Spotify playlists."  tabindex="-1">
                        <div class="icon"></div>
                        <ul>
                            <li class="title">generate playlist</li>
                            <li class="desc">Create brand new playlists based on selected tracks, genres or artists.</li>
                        </ul>  
                    </a>
                </li>
                <li class="menuItem">
                    <a class="setTabIndex" href="/playlist-cover-maker.html" aria-label="Make unique playlist cover art with our templates!"  tabindex="-1">
                        <div class="icon"></div>
                        <ul>
                            <li class="title">playlist cover maker</li>
                            <li class="desc">Create unique, custom cover art for your playlist with our templates.</li>
                        </ul>
                    </a>
                </li>
            </ul>
            <!-- cta -->
            <div class="ctaRow">
                <div class="textArea">
                    <p class="title">Get access to our full suite of tools!</p>
                    <p class="body">Creating an account and linking your SPotify takes less than a minute. So what are you waiting for. Sign up now!</p>
                </div>
                <div class="btnCol" role="navigation">
                    <a class="setTabIndex" href="#" aria-label="Sign up to PlaylistTools.io!"  tabindex="-1">sign up</a>
                    <a class="setTabIndex" href="#" aria-label="Sign in to PlaylistTools.io!"  tabindex="-1">sign in</a>
                </div>
            </div>
            <!-- Mobile Btn -->
            <a class="mobileBtnSignUp setTabIndex" href="#" aria-label="Sign up to PlaylistTools.io!" tabindex="-1">sign up</a>
        </div>
    </nav>
</header>