@import '../ctas/signUpCta';

.pointsCon {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    align-items: center;
    margin-bottom: 2rem;
    .col {
        background-color: $background;
        border-radius: 2rem;
        box-shadow: $shadow;
        padding: 2rem;
        .iconCon {
            width: 6rem;
            margin-bottom: 2rem;
            img {
                width: 6rem;
                height: 6rem;
            }
        }
        h3 {
            @include h3;
            margin-bottom: 1rem;
        }
        p {
            @include body;
        }
    }
}